<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networking Tracker</title>
</head>

<body>
    <h1>Networking Tracker</h1>
    <form action="/add" method="POST">

        <input
            type="text"
            name="name"
            placeholder="Name"
            required
        >

        <br><br>

        <input
            type="email"
            name="email"
            placeholder="Email"
        >

        <br><br>

        <input
            type="text"
            name="phone"
            placeholder="Phone Number"
        >

        <br><br>

        <input 
            type="text"
            name="location"
            placeholder="Location"
        >

        <br><br>

        <textarea
            name="notes"
            placeholder="Notes">
        </textarea>

        <br><br>

        <button type="submit">
            Add Contact
        </button>

    </form>


    <h2>Contacts</h2>

    {% for contact in contacts %}
        <div>
    
            <h3>{{ contact[0] }}</h3>
    
            <p>Email: {{ contact[1] }}</p>
            <p>Phone: {{ contact[2] }}</p>
            <p>Location: {{ contact[3] }}</p>
            <p>Notes: {{ contact[4] }}</p>
    
            <hr>
    
        </div>
    {% endfor %}

</body>

</html> 
